---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <a href="/">Home</a> |
    <a href="/about/">About</a>
    <a href="/whatis/">Cheese?</a>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Cheesonaut!</h1>
			<p>
				Gorgonzola cheese is considered amazing for its unique taste, rich history, and widespread popularity. Let's delve into its allure.
			</p>
      <img src="https://thecheesewanker.com/wp-content/uploads/2022/06/Luigi-Guffanti-Gorgonzola-Dolce-1024x819-1-e1655442750693.jpg">


			<p>
				Taste: Gorgonzola cheese offers a distinctive combination of flavors. The milder Gorgonzola Dolce features a creamy and buttery taste[1]. On the other hand, the aged Gorgonzola Piccante delivers a sharper and tangier flavor profile with a slight spiciness[1]. These contrasting flavors make gorgonzola an excellent choice for both delicate and bold palates alike.
			</p>



			<p>History: Gorgonzola cheese has a long history that dates back to the Middle Ages[3]. While the exact origin remains uncertain, its production is believed to have started around the year 1007[3]. Gorgonzola was historically produced in the Lombardy and Piedmont regions of Italy[1]. Over time, its production methods and maturation processes have been refined and regulated to ensure consistency and quality[1].
      </p>
			<p>
				Popularity: Gorgonzola cheese has gained popularity worldwide over the years. The cheese's global appeal is evidenced by its exportation to various countries, including the UK, France, and Germany[2]. The cheese has seen a steady increase in popularity, with exports reaching tens of thousands of tons per year[2]. This popularity is a testament to the widespread recognition and appreciation for the unique flavors of gorgonzola cheese.
			</p>
			<p>
				In today's world, gorgonzola cheese continues to captivate the palates of cheese enthusiasts and is widely celebrated for its remarkable taste and distinguished history.
			</p>
      <p>
<ul>
  <li><a href="https://thecheesewanker.com/stories/the-history-of-gorgonzola/">The History of Gorgonzola (Italy's Most Famous Blue Cheese)</a></li>
  <li><a href="https://webfoodculture.com/gorgonzola-cheese-history-info-interesting-facts/">History, Info, Interesting Facts - WFC</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Gorgonzola">Gorgonzola - Wikipedia</a></li>
</ul>
      </p>
		</main>
		<Footer />
	</body>
</html>
